<!--공지사항 게시판-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <title>공지 사항</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='notice.css') }}">
    <link rel="stylesheet" href="/static/divider.css">
    <link rel="stylesheet" href="/static/fonts.css">
</head>

<body>
  <div class="write-container">
    <h1>공지 사항</h1>

    <!-- 소학회 소개 -->
    <p>데이터엔지니어스</p>
    <p>안녕하십니까</p>
    <p>서울여대 데이터사이언스학과 소속 소학회 데이터엔지니어스입니다.</p>
    <p>소학회원분들은 아래의 규칙들을 따라주시길 바랍니다.</p>

      <div class="divider divider-dashed"></div>

    <!-- 규칙 목록 -->
    <p>1. 소학회 결석을 지양해주시길 바랍니다.</p>
    <p>2. 스터디 과제 및 과제 제출은 정규 소학회 활동 전날 자정까지 업로드해주시길 바랍니다.</p>
    <p>3. 글쓰기 시 글 작성자를 알 수 있게 첫 줄에 학번 이름과 무슨 내용의 자료인지 간단하게 작성하시길 바랍니다.</p>
    <pre>
      EX)
      작성자 : 2023000000 홍길동
      리눅스 스터디 1주차 자료입니다.
      Part1. chapter1
    </pre>
    <p>4. 글쓰기 시 본인의 기수에 맞는 카테고리를 설정하시길 바랍니다.</p>

      <div class="divider divider-dashed"></div>

    <!-- 인스타 링크 -->
    <p class="center-text">
      인스타그램:
      <a class="font-italic-underline no-link-style" href="https://www.instagram.com/swu.data_engenius/" target="_blank">
        @swu.data_engenius
      </a>
    </p>

    <!-- 게시판 링크: 가운데 정렬 -->
    <a class="back-link" href="/board">← 게시판으로 돌아가기</a>

  </div>
</body>
</html>