<!--공지사항 게시판-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <title>공지 사항</title>
    <link rel="stylesheet" href="/static/divider.css">
    <link rel="stylesheet" href="/static/fonts.css">
</head>
<body>
<h1>공지 사항</h1>

    <!--데이터엔지니어스란 무엇인가?-->
    <p>DataEenGius(데이터엔지니어스)란?</p>

    <p>데이터 엔지니어 혹은 데이터 앤 지니어스로 데이터를 똑똑하게 다루는 엔지니어가 되자는 의미입니다.</p>

    <div class="divider divider-thick"></div>


    <!--데이터엔지니어스의 활동 목적-->
    <p>[활동 목적]</p>
    <p>1. 데이터 엔지니어링에 필요한 최신 기술과 도구를 학습하고 실습함으로써 실무에서 바로 적용할 수 있는 능력을 기릅니다.</p>
    <p>2. 다양한 데이터 엔지니어링 프로젝트를 수행하여 실전 경험을 쌓고, 문제 해결 능력과 협업 능력을 기를 목적입니다.</p>
    <p>3. 회원들 간의 지식 공유와 네트워킹을 통해, 서로의 성장과 발전을 도모하고, 외부 전문가 초청 강연과 세미나를 통해 다양한 시각을 접할 수 있는 기회를 제공합니다.</p>

    <div class="divider"></div>

    <!--데이터엔지니어스 활동 목표-->
    <p>[활동 목표]</p>
    <p>1. 데이터베이스, 데이터 웨어하우스, ETL(Extract, Transform, Load) 프로세스 등 데이터 엔지니어링의 핵심 기술을 학습하고, 실습을 통해 능숙하게 다룰 수 있도록 하여 기술 역량을 강화 시키는 것이 목표입니다.</p>
    <p>2. 실제 데이터를 활용한 프로젝트를 진행하여 데이터 처리 및 분석 과정을 직접 경험하고, 프로젝트 결과를 발표 및 공유하는 자리를 가집니다.</p>
    <p>3. 팀 단위의 프로젝트와 스터디 활동을 통해 협업 능력을 기르고, 다양한 문제를 해결하는 경험을 축적합니다.</p>
    <p>4. 데이터 엔지니어링 관련 학회, 세미나, 컨퍼런스 등에 참석하여 외부 전문가와의 교류 기회를 제공하고, 실무자와의 만남을 통해 현실적인 조언을 얻을 수 있도록 합니다.</p>

    <div class="divider"></div>

    <!--소학회 인스타그램 정보-->
    인스타그램 :
    <a class="font-italic-underline">@swu.data_engenius</a>
    <br>

    게시판으로

    <a href="/board">← 게시판으로</a>
</body>
</html>
